doctype html
html
    head
        title Test
        link(rel="stylesheet", href="style.css")
    body
        - var i = 1;
        div.wrapper
            while i < 13
                if i % 2 == 0
                    div.red= i++
                else
                    div.green= i++
        include list.pug
                